# Google Sheets
GOOGLE_SHEETS_ID=1oyrm3WeCXJbmxMhSWFjhnvpZ2XDr6DK9Dm__rLqO6gA

# Google Service Account (JSON base64 o path)
# Opción 1: Variable con JSON base64
GOOGLE_SERVICE_ACCOUNT_KEY=./service-account.json

# Opción 2: O la ruta al archivo
# GOOGLE_SERVICE_ACCOUNT_KEY_FILE=/path/to/service-account.json

# API
PORT=3001
NODE_ENV=development
